
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
}

main {
    background-color: #d9dcd6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif';
}

/* Header Styling */
nav {
    padding: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(235, 170, 0);
    color: #ffffff;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}


nav h1 {
    display: inline-block;
    text-align: center;
    font-size: 48px;
}

/* Nav styling - Making it flex  */
nav ul {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 15px;
    line-height: 2;
}

nav a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 20%;
}

/* Title back splash styling  */
.title-yellow-splash {
    height: 300px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    justify-content: center;
    margin-bottom: 25px;
    background-image: url("../images/title-yellow-splash.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
} 

.title-yellow-splash .avatar {
    margin-left: 5%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1; 
}

.title-yellow-splash #cool-title{
    z-index: 1;
    min-width: 200px;
    text-align: center;
    padding: 12px;
    font-size: xx-large;
    color: white;
}

/* Styling of main content leveraging flex tricks  */
.container {
    display:flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
}

.container .sidebar-heading {
    padding: 2%;
    box-sizing: border-box;
    width: fit-content;
}

/* About me style  */
.container .about-me-para {
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

/* styling exhibit work */
.container .display-work {
    list-style: none;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.container .display-work li {
    display: inline;
}

#resume {
    color: green;
}

h2 {
    font-size: 20px;
}

/* Making the list items as cards enabling us to style each card better and introduce pseudo class for clicks and focus  */
.display-work .card{
    margin: 2%;
    border: solid 0.35em rgb(126, 217, 204);
    flex-shrink: 1;
    position: relative;
    cursor: pointer;
  }

  .display-work img {
    width: 100%
  }

  /* Handling text over image */
  .display-work .card .text-on-card {
    padding: 1%;
    width: auto;
    position: absolute;
    bottom: 8%;
    left: 0%;
    color: black;
    background-color: rgb(126, 217, 204);
  }

  /* Styling the text on card that would appear on the work exihibit section */
  .display-work .card .text-on-card h3{
    font-weight: 400;
    font-size: 12pt;
  }

  .display-work .card .text-on-card p {
    font-weight: 300;
    font-size: 10pt;
    line-height: 2;
  }

/* Introducing pseudoclass for the hover on card */

.display-work .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

/* Contact Info section */


.container .contact-info
 {
    list-style: none;
    margin-bottom: 2%;
    padding: 2%;
    margin-top: 2%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Styling list items in contact info */

.container .contact {
    padding: 1%;
    margin-right:1%;
    margin-bottom: 1%;
    display: inline;
}

.container .contact a {
    color: black;
    font-weight: normal;
    text-decoration: underline;
    text-underline-offset: 20%;
}

/* Make it responsive using media query for Tablets and Mobile phones */
@media screen and (min-width: 992px){

    /* navbar styling */
    nav {
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav h1 {
        display: inline-block;
        margin-right: auto;
        font-size: 48px;
    }
    
   .nav-links {
        list-style: none;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 15px;
    }
    
    .nav-item {
        display: inline-block;
        padding: 10px 15px;
    }

    /* hero page styling */
    .title-yellow-splash {
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    /* main content styling */
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .container .sidebar-heading {
        width:20%;
        padding: 2%;
        box-sizing: border-box;
        text-align: right;
        vertical-align: 5em;
    }
    
    /* About me style  */
    .container .about-me-para {
        width: 80%;
        padding: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        border-left: solid 3px  green; 
    }
    
    /* styling exhibit work */
    .container .display-work {
        list-style: none;
        width: 80%;
        padding: 2%;
        margin-top: 2%;
        margin-bottom: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-left: solid 3px  green; 
    }
    
    /* Making the list items as cards enabling us to style each card better and introduce pseudo class for clicks and focus  */
    .display-work .card{
        margin: 2%;
        flex: 0 1 46%;
      }
      
      .display-work .card img {
        width: 100%;
      }  
      
      .display-work #top-project {
        flex: 1 0 96%;
      }
    
    /* Contact Info section */
    .container .contact-info
     {
        list-style: none;
        width: 80%;
        margin-bottom: 2%;
        padding: 2%;
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        border-left: solid 3px  green; 
    }

  }
