/* Aligning the container  */
.contact-container {
  padding-bottom: 10%;
}

/* Styling contact form */
h3 {
  margin: 1rem;
  padding: 1rem;
  position:relative; 
  font-size: 150%;
}

form {
  border: dotted  rgb(126, 217, 204);
  border-radius: 5px;
  margin: 1rem;
  padding: 5rem;
  position:relative; 
  display: block;
  }

form label{
  display: block;
  text-align: left;
  font-size: 20px;
  margin: 0 0 0.75rem 0;
}

.form-fields {
    display: block;
    text-align: left;
    font-size: 20px;
    margin: 0 0 0.75rem 0;
    border-radius: 5%;
    width: 100%;
    max-width: 100%;
}

/* styling the input fields in the forms */
.text-input {
  width: 100%;
  border-radius: 5px;
  border:solid 1px rgb(126, 217, 204);
}

.text-input:hover {
  box-shadow: 0 0 5px rgb(209, 207, 207);
}

.text-input:focus {
  outline:solid 1px rgb(126, 217, 204) ;
}

/* styling the button on the form */
.btn-grp {
  display: block;
  text-align: center;
  width: 100%;
}

.custom-btn {
  width: 40%;
  border:solid 1px rgb(126, 217, 204);
  border-radius: 5px;
  background:rgb(126, 217, 204);
  padding: 0.5em; 
}

.custom-btn:hover { 
  box-shadow: 0 0 5px rgb(209, 207, 207);
}
