.work-container {
  padding-bottom: 10em;
}

.display-work .card{
    border: solid 0.35em rgb(126, 217, 204);
    flex-shrink: 1;
    position: relative;
    cursor: pointer;
  }

  .display-work img {
    width: 100%
  }

  /* Handling text over image */
  .display-work .card .text-on-card {
    padding: 0.1em;
    width: auto;
    position: absolute;
    bottom: 8%;
    left: 0%;
    color: black;
    background-color: rgb(126, 217, 204);
  }

  /* Styling the text on card that would appear on the work exihibit section */
  .display-work .card .text-on-card h4{
    font-weight: 400;
    font-size: 12pt;
  }

  .display-work .card .text-on-card p {
    font-weight: 300;
    font-size: 10pt;
    line-height: 2;
  }

/* Introducing pseudoclass for the hover on card */

.display-work .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

@media screen and (min-width: 992px){ 
  /* styling exhibit work */
  .container .display-work {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* Making the list items as cards enabling us to style each card better and introduce pseudo class for clicks and focus  */
.display-work .card{
    margin: 0 1% 1% 1%;
    flex: 0 1 48%;
  }
  
  .display-work .card img {
    width: 100%;
  }  
}